/*================清除默认样式============*/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr {margin:0;padding:0;}
body {font:12px/1.5 Arial; color:#333;}
img{display: block;}
select,input,button {vertical-align:middle;font-size:100%;}
ul,ol {list-style:none;}
fieldset,img {border:0;}
em {font-style:normal;}



/*==================head==========================*/
#head{height:40px;padding: 30px 0;}
.logo_car{width: 377px;height: 40px;}
.logo_car img{float: left;}
.step{height: 402px;height: 38px;padding: 2px 0 0;}
.step .s1 li{float:left; width:90px; padding:0 14px 0 0; background:url(../img/step-bg.png) no-repeat 100% -74px; background-color:#e6e6e6; font:14px/36px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; text-align:center;}
.step .s1 li.s5{background:#e6e6e6;width: 76px;}

/*=================content=======================*/
/*#content{min-height: 545px;}*/
.car_num{height: 57px; margin: 10px 0; text-align: right;}
.car_num p{padding: 7px 0 10px 0;}
.total{height: 22px;line-height: 22px;color: #666;}
.total span{ float:right; padding:0 8px 0 0; line-height:24px; color:#999}
.total input{float:right; width:58px; height:22px; background:url(../img/pic.png) -192px -150px; border:0 none; color:#fff; line-height:22px; text-align:center; font-weight:bold; cursor:pointer;}

.car_good{margin-top: 20px;}
.car_good 
table{ border-collapse:collapse; border-spacing: 0; table-layout:fixed;}
.car_good .other td{ background:#fcfcfc;}
.car_good th{ height:36px; background:#f5f5f5; border-top:2px solid #e02d2d; line-height:36px; font-weight:normal; text-align:center;}
.car_good .th-1{ width:62px;}
.car_good .th-2{ width:217px; padding:0 0 0 100px; text-align:left;}
.car_good .th-3{ width:122px;}
.car_good .th-4{ width:106px;}
.car_good .th-5{ width:121px;}
.car_good .th-6{ width:107px;}
.car_good .th-7{ width:81px;}
.car_good .th-1 input{ margin:0 5px 0 0; *margin:0 3px 0 0; _position:relative; _top:-2px;}

.shopname{float: left;line-height: 43px;}
.contact{padding: 11px 0 0 15px;float: left;margin: 0 10px 0 0;}
.tag_security{float: left; _display: inline; margin: 0 10px 0 -10px; padding: 0 0 0 20px; line-height: 22px; background:url(../img/tag-security.png) no-repeat 0 50%; color: #666;}

tr td.offer_detail{padding: 0;border: 1px solid #e3e3e3;height: 31px;width: 960px;}
.offer_detail .total{ padding:5px 20px; height:20px; text-align:left; background:#fff5d6; color:#666; line-height:20px;}


.offer_detail .type{ display:inline-block; margin:0 10px 0 0; padding:0 4px; height:20px;width: 44px; color:#fff; background:#e02d2d;}



/*------------商品tr-----------*/
.car_good td{ padding:10px; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; text-align:center;}
.car_good .s-infor{ border-left:1px solid #e3e3e3;}
.car_good .s-del{ border-right:1px solid #e3e3e3;}
.car_good .s-infor{ padding:10px 10px 10px 12px; width:357px;}
.car_good .not-choose td{background: #f3f7fa}
.car_good invalid td{ background:#f3f3f3; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;}
.car_good invalid .s-infor{ border-left:1px solid #ceddf0;}
.s-delbox{position: relative;}
.deletebox{ width:144px; padding:6px 10px; position:absolute; top:-60px; left:-50px; border:1px solid #ccc; background-color:#fff; line-height:18px; color:#666;}
.deletebox a{margin: 0 12px;}
.deletebox i{ display:block; width:13px; height:7px; margin-left:-5px; position: absolute; bottom:-7px;left:50%; background:url(../img/pic.png)no-repeat -248px -229px;}


.s-price{ width:102px;}
.s-amount{ width:130px;}
.s-agio{ width:101px;}
.s-total{ width:87px;}
.s-del{ width:61px;}

.s-infor input{ float:left; margin:24px 10px 0 0; *margin:21px 8px 0 -2px;}
.s-infor .pic{ float:left; width:80px; height:60px; border:1px solid #ccc; line-height:58px;  *display:block; *font-size:53px; *font-family:arial; text-align:center; background:#fff;}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
    head~body .s-infor .pic {line-height:60px;}
}
.s-infor .pic img{  vertical-align:middle;}
.s-infor .inforbox{ float:left; width:240px; padding:0 0 0 10px; line-height:20px; text-align:left;}
.s-infor .inforbox .tit{ margin:-2px 0 4px ; height:40px; line-height: 20px; font-weight:normal; font-size:12px; overflow:hidden;}
.s-infor .inforbox p{ color:#666;}
.s-infor .info-con{ height:20px; line-height:20px; color:#666; }
.s-infor .info-con span{ cursor:pointer;}
.s-infor .info-con-hover{ position:relative; z-index:1}
.s-infor .info-con .info-help{ display:none;}
.s-infor .info-con-hover .info-help{ display:block;}
.s-infor .info-help{ position:absolute; left:36px; top:20px; padding:10px; border:1px solid #ccc; background:#fff; color:#333;}
.s-infor .info-help a{ color:#3366cc;}
.s-infor .info-help a:hover{ color:#f60;}
.s-infor .info-help h5{ white-space:nowrap; display:block; font-size:12px; height:20px; line-height:20px; padding:0 0 6px;}
.s-infor .info-help p{ white-space:nowrap; line-height:22px;}

.buy-num{ position:relative; width:110px; height:20px; padding:31px 0; text-align:center;}
.buy-num .tips{ position:absolute; left:21px; bottom:3px; padding:0 10px; height:20px; line-height:20px; text-align:center; color:#fff; background:#ff7373; display:none; }
.buy-num .tips-2{ position:absolute; left:7px; bottom:3px; padding:0 10px; height:20px; line-height:20px; text-align:center; color:#fff; background:#ff7373; white-space: nowrap;
display:none;}
.minus,.plus{ float:left; width:10px; height:10px; line-height:10px; background:#fff; color:#333; text-align:center; border:1px solid #ccc; overflow:hidden;}
.no-minus{ float:left; width:10px; height:10px; line-height:10px; background:#fff; color:#ccc; text-align:center; border:1px solid #ccc; overflow:hidden; cursor:default;}
.no-minus:hover{ color:#ccc;}
.minus:hover,.plus:hover{ color:#333; border:1px solid #ff6600; text-decoration:none;}
.minus,.no-minus{ margin:5px 8px 0 10px;}
.plus{ margin:5px 0 0 8px;}
.text_amount{ width:28px; height:16px; float:left; padding:1px 3px; text-align:center;outline: 0 auto;}

/*-----总价---------*/
.total_price{ padding:0 10px 0 0; height:52px; line-height:52px; text-align:right;}
.total_price span{ color:#666;}
.total_price em{ color:#ff0000; font-size:16px; font-weight:bold; font-family:verdana}
/*-----去结算-------*/
.order-foot{ position:relative; padding:0 0 0 12px; height:33px; border:1px solid #e3e3e3; background:##f5f5f5; line-height:33px;}
.order-foot a{ float:left; margin:0 30px 0 0}
.order-foot label{ float:left; padding:0 25px 0 0 ;_padding:7px 25px 0 0;}
.order-foot label input{ margin:0 5px 0 0; margin:0 3px 0 0; _position:relative; _top:-2px;}
.order-foot .accounting-btn{ position:absolute; top:-1px; right:-1px; width:130px; height:35px; font:18px/35px "Microsoft YaHei"; color:#fff; border:0 none; background:url(../img/pic.png)  0 -113px; cursor:pointer;outline: 0 auto;}
.order-foot .go-shopping{ float:none; position:absolute; top:0; right:150px; margin:0; font-family:"simsun";color: #134ba0;}

.cannotbuy-layer{ width:168px; position:absolute; bottom:45px; right:-30px; padding:10px; border:1px solid #ccc; background-color:#fff; line-height:20px; color:#666;}
.cannotbuy-layer a{ float:none; font-family:"simsun"; }
.cannotbuy-layer i{ display:block; width:13px; height:7px; margin-left:-5px; position: absolute; bottom:-7px; _bottom:-15px; left:50%; background-position:-248px -229px;}
.cannotbuy-layer b{ display:block; width:10px; height:9px; position:absolute; top:5px; right:5px; background-position:-235px -229px; font:0/0 arial; cursor:pointer;}
.process{ position:absolute; top:-1px; right:-1px;width:130px; height:35px; font:18px/35px "Microsoft YaHei"; color:#fff; border:0 none; background-position:0 -211px; text-align:center; }
.process span{ padding: 0 0 0 22px; margin:0 0 0 -5px; background: url("http://icon.zol-img.com.cn/zol_shop/order/images_20120628/ico.gif") no-repeat 0 6px;}
.wrong_tips{ width:auto; padding:10px 20px;}
.guide{ height:32px; padding:10px 10px 10px 0; line-height:32px; text-align:right;}
.guide a{ color:#999;}

/*----------good_advice---------*/
.good_advice{margin: 20px 0; height: 244px;}
.modgoods_tab{border-bottom: 1px solid #e3e3e3;}
.modgoods_tab li{ margin:0 5px -1px 0; position:relative;  border:1px solid #e3e3e3;border-top:2px solid #e02d2d; background:#fff;/*float:left;*/ width:129px; height:33px; margin:0 5px 0 0; border-bottom:0 none;  text-align:center; font:16px/33px "Microsoft YaHei"; cursor:pointer;}


.modgoods-list{ padding:20px 0 13px 14px;}
.modgoods-list li{ float:left; width:162px; padding:0 12px; text-align:center;}
.modgoods-list li img{ display:block; border:1px solid #e2e2e2;}
.modgoods-list li a{ color:#333;}
.modgoods-list .pic span{ display:block; height:24px; padding:5px 0 0; line-height:24px; overflow:hidden;}
.modgoods-list .pic span:hover{color: #FF6600;}
.modgoods-list .market-price{ line-height:24px; color:#999;}
.modgoods-list .market-price em{ font-family:Verdana; }
.modgoods-list .price{ color:#ff0000; font-size:16px; font-family:Verdana; font-weight:bold;}
.no-goods{ padding:20px 11px 160px 19px;}
.no-goods span{ width:899px; height:51px; display:block;  padding:0 0 0 20px; line-height:51px; font-size:14px; background-color:#efefef;}


/*====================foot==========================*/
#foot{ margin:40px auto 0; padding:5px 0 20px; height: 134px; text-align:center; border-top:1px solid #e3e3e3;}


#foot .links { padding:14px 0 6px; color:#ccc; }
#foot .links a { margin:0 10px;    color: #134ba0; }
#foot .copyright { display:inline-block; height:23px; padding-left:28px; position:relative; line-height:23px; }
#foot .copyright i { width:23px; height:23px; position:absolute; top:0; left:0; background-position:0 0; }
#foot p .copyright { color:#333; }



.authentication { padding-top:12px;height: 46px;width: 360px;margin: 0 auto; }
.authentication a{text-align: center;}
.authentication img{display: inline-block;float: left;    vertical-align: middle;margin-right: 8px;}

/*
.authentication a { vertical-align:middle; margin-right:8px; }
.brandlist_2 { height:59px; padding-left: 2px; background:#f5f5f5; border:1px solid #e3e3e3; border-top:0 none; overflow:hidden; }
.brandlist_2 li { float:left; margin:11px 0 11px 14px; border:1px solid #eee; display:inline;}
.brandlist_2 li img { display:block; }
.authentication a:hover{ text-decoration:none;}*/














