/*================清除默认样式============*/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr {margin:0;padding:0;}
body {font:12px/1.5 Arial; color:#333;}
select,input,button {vertical-align:middle;font-size:100%;}
ul,ol {list-style:none;}
fieldset,img {border:0;}
em {font-style:normal;}
/*=============================二级菜单的样式===========================*/
 .nav_left_menu{width: 200px;height: 410px;background: #2d2d2d;float: left; position: absolute;top:37px;left:0px; display: none;z-index: 1000}

 .nav_left_menu .nav_left_new img{width: 200px;height: 70px;}

 .nav_left_menu ul{height: 341px;}
 .nav_left_menu ul li{position: relative;margin: -1px 0 0 1px;padding: 0 0 1px 31px;height: 38px;border-top: 1px solid #3d3d3d;font: 12px/38px "Microsoft YaHei";/*color:#fff*/;}

 .nav_left_menu ul li .item a{color: #fff;font-weight: bold;}

 .nav_left_menu ul li i{display: inline-block; position: absolute;top: 12px;left: 10px;color: #ababab;font-size: 17px;line-height: 17px;}

/*----------hide_phone---------*/
 .nav_left_menu ul li .hide_phone{ display: none; position: absolute;top: 0;left:199px; padding: 5px 30px;width: 690px;height: 399px;background: #fff;background:rgba(255,255,255,0.98); border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6; z-index: 100;}
 .nav_left_menu ul li .hide_phone a{color:#333;}
 .item{color:#fff}
/*------------------------------------------*/
 .nav_left_menu ul li .hide_phone .service{padding: 15px 0 20px 8px;font: 12px/26px "Microsoft YaHei";}
 .nav_left_menu ul li .hide_phone .service dt{font-weight:bold;float: left;width: 64px;height: 26px;}
 .nav_left_menu ul li .hide_phone .service dd{float: left;position: relative;}
 .nav_left_menu ul li .hide_phone .service dd a{color:#00ae75;display:inline-block; padding:0 0 0 27px; margin:0 20px 0 0; text-decoration:none;}
 .nav_left_menu ul li .hide_phone .service dd a .iconfont{display:inline-block;width:24px;height: 24px;background:url(../img/baozhang20160320.jpg) -21px 117px;position: absolute;left: 0;top: 0;}
 .nav_left_menu ul li .hide_phone .service dd a .fa{display:inline-block;width:24px;height: 24px;background-position: -21px 81px;position: absolute;left: 97px;top: 0;}
 .nav_left_menu ul li .hide_phone .service dd a .bao{display:inline-block;width:24px;height: 24px;background-position: -133px 117px;position: absolute;left: 198px;top: 0;}
 .nav_left_menu ul li .hide_phone .service dd a .tui{display:inline-block;width:24px;height: 24px;background-position: -133px 81px;position: absolute;left: 296px;top: 0;}
 .nav_left_menu ul li .hide_phone .service dd a .pei{display:inline-block;width:24px;height: 24px;background-position: -133px -168px;position: absolute;left: 393px;top: 0;}
/*---------------------------------------*/
 .nav_left_menu ul li .hide_phone dl.tongxun{position: relative;font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 20px 8px;}
 .nav_left_menu ul li .hide_phone dl.tongxun dt{font-weight: bold;float: left;margin: 0 10px 0 0;}
 .nav_left_menu ul li .hide_phone dl.tongxun dd{float: left;width: 620px;}
 .nav_left_menu ul li .hide_phone dl.tongxun dd p.tongxun_title{display: block;width: 200px;float: left;}
 .nav_left_menu ul li .hide_phone dl.tongxun dd p a{margin: 0 8px;color: #333;float: left;}
 .nav_left_menu ul li .hide_phone dl.tongxun dd p a:after{ 
content:"|";
display: inline-block;
text-align: center;
margin-left: 10px;
color: #d3d3d3;
}
 .nav_left_menu ul li .hide_phone dl.peijian{position: relative;font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 20px 8px;width: 678px;}
 .nav_left_menu ul li .hide_phone dl.peijian dt{font-weight: bold;float: left;margin: 0 10px 10px 0;}
 .nav_left_menu ul li .hide_phone dl.peijian dd{float: left;width: 620px;}
 .nav_left_menu ul li .hide_phone dl.peijian dd p{display: block;float: left;}
 .nav_left_menu ul li .hide_phone dl.peijian dd p a{margin: 0 8px;color: #333;float: left;}
 .nav_left_menu ul li .hide_phone dl.peijian dd p a:after{ 
content:"|";
display: inline-block;
text-align: center;
margin-left: 10px;
color: #d3d3d3;
}
 .nav_left_menu ul li .hide_phone dl.pos{position: relative;font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 20px 8px;width: 678px;}
 .nav_left_menu ul li .hide_phone dl.pos dt{font-weight: bold;float: left;margin: 0 18px 10px 0;}
 .nav_left_menu ul li .hide_phone dl.pos dd{float: left;}
 .nav_left_menu ul li .hide_phone dl.pos dd p{display: block;float: left;;}


/*=======2hide_nb=======*/
 .nav_left_menu ul li .hide_nb{ display: none; position: absolute;top: -39px;left:199px; padding: 5px 30px;width: 690px;height: 399px;background: #fff;background:rgba(255,255,255,0.98); border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;z-index: 1000;}
 .nav_left_menu ul li .hide_nb a{color:#000}

 .nav_left_menu ul li .hide_nb dl.notepc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 5px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_nb dl.notepc dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_nb dl.notepc dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_nb dl.notepc dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_nb dl.pad{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_nb dl.pad dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_nb dl.pad dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_nb dl.pad dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_nb dl.allpc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_nb dl.allpc dt{font-weight: bold;float:left;margin-right: 13px;width:59px;height: 90px;}
 .nav_left_menu ul li .hide_nb dl.allpc dd{float: left;width: 470px;}
 .nav_left_menu ul li .hide_nb dl.allpc dd a{padding: 0 5px;color: #333;}

/*===================3hide_camera==================*/
 .nav_left_menu ul li .hide_camera{ display: none; position: absolute;top: -78px;left:199px; padding: 5px 30px;width: 690px;height: 399px;background: #fff;background:rgba(255,255,255,0.98); border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;z-index: 1000;}
 .nav_left_menu ul li .hide_camera a{color:#000}

 .nav_left_menu ul li .hide_camera dl.notepc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 5px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_camera dl.notepc dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_camera dl.notepc dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_camera dl.notepc dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_camera dl.pad{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_camera dl.pad dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_camera dl.pad dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_camera dl.pad dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_camera dl.allpc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_camera dl.allpc dt{font-weight: bold;float:left;margin-right: 13px;width:59px;height: 90px;}
 .nav_left_menu ul li .hide_camera dl.allpc dd{float: left;width: 470px;}
 .nav_left_menu ul li .hide_camera dl.allpc dd a{padding: 0 5px;color: #333;}
/*===================4hide_game==================*/
 .nav_left_menu ul li .hide_game{ display: none; position: absolute;top: -117px;left:199px; padding: 5px 30px;width: 690px;height: 399px;background: #fff;background:rgba(255,255,255,0.98); border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;z-index: 1000;}
 .nav_left_menu ul li .hide_game a{color:#000}
 .nav_left_menu ul li .hide_game dl.notepc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 5px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_game dl.notepc dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_game dl.notepc dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_game dl.notepc dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_game dl.pad{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_game dl.pad dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_game dl.pad dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_game dl.pad dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_game dl.allpc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_game dl.allpc dt{font-weight: bold;float:left;margin-right: 13px;width:59px;height: 90px;}
 .nav_left_menu ul li .hide_game dl.allpc dd{float: left;width: 470px;}
 .nav_left_menu ul li .hide_game dl.allpc dd a{padding: 0 5px;color: #333;}
/*===================5hide_DIY==================*/
 .nav_left_menu ul li .hide_DIY{ display: none; position: absolute;top: -156px;left:199px; padding: 5px 30px;width: 690px;height: 399px;background:rgba(255,255,255,0.98); border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;z-index: 1000;}
 .nav_left_menu ul li .hide_DIY a{color:#000}
 .nav_left_menu ul li .hide_DIY dl.notepc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 5px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_DIY dl.notepc dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_DIY dl.notepc dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_DIY dl.notepc dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_DIY dl.pad{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_DIY dl.pad dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_DIY dl.pad dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_DIY dl.pad dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_DIY dl.allpc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_DIY dl.allpc dt{font-weight: bold;float:left;margin-right: 13px;width:59px;height: 90px;}
 .nav_left_menu ul li .hide_DIY dl.allpc dd{float: left;width: 470px;}
 .nav_left_menu ul li .hide_DIY dl.allpc dd a{padding: 0 5px;color: #333;}
/*===================6hide_life==================*/
 .nav_left_menu ul li .hide_life{ display: none; position: absolute;top: -195px;left:199px; padding: 5px 30px;width: 690px;height: 399px;background:rgba(255,255,255,0.98); border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;z-index: 1000;}
 .nav_left_menu ul li .hide_life a{color:#000}
 .nav_left_menu ul li .hide_life dl.notepc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 5px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_life dl.notepc dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_life dl.notepc dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_life dl.notepc dd a{padding: 0 5px;color: #333;}
 .nav_left_menu ul li .hide_life dl.pad{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_life dl.pad dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_life dl.pad dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_life dl.pad dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_life dl.allpc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_life dl.allpc dt{font-weight: bold;float:left;margin-right: 13px;width:59px;height: 90px;}
 .nav_left_menu ul li .hide_life dl.allpc dd{float: left;width: 470px;}
 .nav_left_menu ul li .hide_life dl.allpc dd a{padding: 0 5px;color: #333;}
/*===================7hide_device==================*/
 .nav_left_menu ul li .hide_device{ display: none; position: absolute;top: -234px;left:199px; padding: 5px 30px;width: 690px;height: 399px;background: #fff;background:rgba(255,255,255,0.98); border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;z-index: 1000;}
 .nav_left_menu ul li .hide_device a{color:#000}
 .nav_left_menu ul li .hide_device dl.notepc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 5px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_device dl.notepc dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_device dl.notepc dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_device dl.notepc dd a{padding: 0 5px;color: #333;}
 .nav_left_menu ul li .hide_device dl.pad{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_device dl.pad dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_device dl.pad dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_device dl.pad dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_device dl.allpc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_device dl.allpc dt{font-weight: bold;float:left;margin-right: 13px;width:59px;height: 90px;}
 .nav_left_menu ul li .hide_device dl.allpc dd{float: left;width: 470px;}
 .nav_left_menu ul li .hide_device dl.allpc dd a{padding: 0 5px;color: #333;}
/*===================8hide_dianqi==================*/
 .nav_left_menu ul li .hide_dianqi{ display: none; position: absolute;top: -273px;left:199px; padding: 5px 30px;width: 690px;height: 399px;background: #fff;background:rgba(255,255,255,0.98); border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;z-index: 1000;}
 .nav_left_menu ul li .hide_dianqi a{color:#000}
 .nav_left_menu ul li .hide_dianqi dl.notepc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 5px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_dianqi dl.notepc dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_dianqi dl.notepc dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_dianqi dl.notepc dd a{padding: 0 5px;color: #333;}
 .nav_left_menu ul li .hide_dianqi dl.pad{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_dianqi dl.pad dt{font-weight: bold;float:left;margin-right: 13px;width:40px;height: 90px;}
 .nav_left_menu ul li .hide_dianqi dl.pad dd{float: left;width: 500px;}
 .nav_left_menu ul li .hide_dianqi dl.pad dd a{padding: 0 5px;color: #333;}

 .nav_left_menu ul li .hide_dianqi dl.allpc{font: 12px/26px "Microsoft YaHei";border-bottom: 1px solid #eee;float: left;padding: 15px 0 2px 8px;width: 690px;}
 .nav_left_menu ul li .hide_dianqi dl.allpc dt{font-weight: bold;float:left;margin-right: 13px;width:59px;height: 90px;}
 .nav_left_menu ul li .hide_dianqi dl.allpc dd{float: left;width: 470px;}
 .nav_left_menu ul li .hide_dianqi dl.allpc dd a{padding: 0 5px;color: #333;}


/*-----------------------------公共service-------------------------------------------*/
 .nav_left_menu ul li .service{padding: 15px 0 20px 8px;font: 12px/26px "Microsoft YaHei";position: relative;}
 .nav_left_menu ul li .service dt{font-weight:bold;float: left;width: 64px;height: 26px;}
 .nav_left_menu ul li .service dt a{color:#00ae75;}
 .nav_left_menu ul li .service dd{float: left;position: relative;}
 .nav_left_menu ul li .service dd a{color:#00ae75;display:inline-block; padding:0 0 0 27px; margin:0 20px 0 0; text-decoration:none;}
 .nav_left_menu ul li .service dd a .iconfont{display:inline-block;width:24px;height: 24px;background:url(../img/baozhang20160320.jpg) -21px 117px;position: absolute;left: 0;top: 0;}
 .nav_left_menu ul li .service dd a .fa{display:inline-block;width:24px;height: 24px;background-position: -21px 81px;position: absolute;left: 97px;top: 0;}
 .nav_left_menu ul li .service dd a .bao{display:inline-block;width:24px;height: 24px;background-position: -133px 117px;position: absolute;left: 198px;top: 0;}
 .nav_left_menu ul li .service dd a .tui{display:inline-block;width:24px;height: 24px;background-position: -133px 81px;position: absolute;left: 296px;top: 0;}
 .nav_left_menu ul li .service dd a .pei{display:inline-block;width:24px;height: 24px;background-position: -133px -168px;position: absolute;left: 393px;top: 0;}
/*------------------------------------------------------------------------*/

/*==================banner==================*/
#banner{height: 145px;}
.bar{height:26px;margin: 20px 0 0;}
.bar{ margin:20px 0 0;}
.bar .total{ float:right; font:12px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#999;}
.bar .total em{ padding:0 5px; color:#c40000;}
.bar_nav{height: 26px;}
.bar_nav li{ float:left; font:14px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.bar_nav li a{ color:#333;}
.bar_nav li a:hover{ color:#c00;}
.bar_nav .home{ margin:0 10px 0 0;}
.bar_nav .arrow{ padding:0 10px 0 0; font-size:12px; font-family:SimSun; color:#999;}

.selector{ margin:20px 0 0; padding:0 0 19px;}
.selectebox{ border:2px solid #e6e6e6; position:relative; overflow:hidden; zoom:1;}
.prop-item{ position:relative; zoom:1;}
.prop-item dl{ position:relative; zoom:1; padding:0 0 0 109px; background:#f7f7f7;}
.prop-item dt{ position:absolute; top:0; left:0; padding:0 15px 0 0; width:94px; height:38px; font:12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; text-align:right; color:#666;}
.prop-item dd{ padding:0 20px; height:39px; color:#999; overflow:hidden; zoom:1; border-left:1px solid #e6e6e6; background:#fff;}
.prop-item span{ color:#134ba0;}
.prop-item span a{ margin:0 5px;}
.prop-item ul{ border-top:1px solid #e6e6e6;}
.prop-item li{ float:left; padding:0 30px 0 0; height:38px; font:12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; overflow:hidden;}
.prop-item li a{ margin:0 5px; color:#666;}
.prop-item li a:hover{ color:#c00;}







/*==============content==================*/
.service{height: 28px;padding: 32px 10px 0;}
.service .logo{ float:left; padding:0 25px; font:16px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; background:url(../img/zolcom_list_ico.png) no-repeat 0 -263px;}
.service a{float:left; margin:0 20px 0 0; font:16px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#666;}
.service .iconfont{ margin:0 8px 0 0; font-size:22px; color:#00ae75;}


.toolbar{margin: 10px 0 0;background: #f7f7f7;border: 1px solid #e6e6e6;height: 40px}
.toolbar .sort li{float:left; position:relative; zoom:1; margin:0 -1px; padding:0 1px; z-index:2}
.toolbar .sort li a{ padding:0 15px; display:block; font:12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#333;}
.toolbar .sort li a:hover{ color:#c00; text-decoration:none;}
.toolbar .sort .current{ padding:0; background:#fff; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6;}
.toolbar .sort .current a{ color:#c00;}
/* 发货地 */
.delivery-origin{ position:relative; display:inline-block; padding:0 27px 0 15px; font:12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; cursor:pointer;}
.delivery-origin .ico{ position:absolute; top:17px; right:15px; width:7px; height:4px; font:0/0 arial; background-position:-12px 0;}
.commdress-list{ display:none; position:absolute; top:38px; left:0; padding:10px 10px 5px; width:326px; border:1px solid #e6e6e6; background:#fff; -wekit-box-shadow:1px 1px 5px rgba(0,0,0,0.1); box-shadow:1px 1px 5px rgba(0,0,0,0.1);}
.toolbar .sort .commdress-list .deselect{ display:block; padding:0; width:68px; height:24px; background:#f33; font:12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center;}
.toolbar .sort .commdress-list .deselect:hover{ background:#c40000; color:#fff; text-decoration:none;}
.commdress-list dl{ margin:5px 0; padding:0 0 0 38px; position:relative; zoom:1; font:12px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.commdress-list dt{ position:absolute; top:0; left:0; padding:0 0 0 4px; height:20px; color:#999;}
.commdress-list dd{ overflow:hidden; zoom:1; line-height:20px;}
.commdress-list ul{ overflow:hidden; zoom:1;}
.toolbar .commdress-list li{ float:left; width:46px; border:0 none;}
.toolbar .sort .commdress-list a{ display:inline-block; padding:0 5px; color:#333; line-height:20px;}
.toolbar .sort .commdress-list a:hover{ background:#f33; color:#fff; text-decoration:none;}
.toolbar .sort .commdress-list .current-city{ background:#f60; color:#fff; text-decoration:none;}
.toolbar .hover .delivery-origin{ position:relative; z-index:2; margin:0 -1px -1px; height:39px; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; background-color:#fff;}
.toolbar .hover .delivery-origin .ico{ background-position:-12px -9px;}
.toolbar .hover .commdress-list{ display:block;}

/* 价格区间 */
.toolbar .sort .price-range{ padding:0;}
.price-range .inner{ padding:7px 15px; width:116px;}
.price-range .text{ float:left; padding:0 5px; width:40px; height:22px; border:1px solid #e6e6e6; background:#fff; font:12px/22px arial; color:#999;}
.price-range i{ float:left; padding:0 2px; width:8px; color:#999; font-family:simsun; line-height:24px;}
.operation{ display:none;}
.toolbar .sort .price-click{ width:146px; height:38px; padding:0;}
.price-click .inner{ position:absolute; top:-1px; left:0; padding:7px 14px; width:116px; border:1px solid #e6e6e6; background:#fff; -wekit-box-shadow:1px 1px 5px rgba(0,0,0,0.1); box-shadow:1px 1px 5px rgba(0,0,0,0.1);}
.price-click .operation{ display:block; float:left; padding:10px 0 0; width:116px;}
.toolbar .sort .operation a{ float:right; margin:0 0 0 5px; width:30px; height:18px; padding:0; line-height:18px; text-align:center;}
.toolbar .sort .operation a:hover{ color:#f33; text-decoration:underline;}
.toolbar .sort .operation .confirm{ color:#fff; background:#f33;}
.toolbar .sort .operation .confirm:hover{ color:#fff; text-decoration:none;}

.toolbar .sort .screening{ padding:0 51px 0 15px; width:288px;}
.screening .list{ height:38px; overflow:hidden;}
.screening .list label{float:left; width:96px; _margin:7px 0 0 0; font:12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; _padding:3px 0 5px; white-space:nowrap;}
.screening .list .check{ margin:0 5px 0 0; +margin:0 2px 0 -3px; _margin:-3px 2px 0 -3px; margin:-1px 5px 0 0\0;}
.screening .fold{ position:absolute; top:0; right:0; padding:0 27px 0 0; height:38px; font:12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; cursor:pointer; z-index:2;}
.screening .fold .ico{ position:absolute; top:17px; right:15px; width:7px; height:4px; font:0/0 arial; background-position:-12px 0;}
.screen-hover .fold .ico{ background-position:-12px -9px;}
.screen-hover .list{ position:absolute; top:0; left:0; padding:0 50px 0 14px; width:288px; height:auto; border:1px solid #e6e6e6; border-top:0 none; background:#fff; -wekit-box-shadow:1px 1px 5px rgba(0,0,0,0.1); box-shadow:1px 1px 5px rgba(0,0,0,0.1);}
/*mini-page=======goodlist上边的分页按钮*/
.mini-page{ float:right; margin:9px 10px 0 0; height:21px; line-height:21px;}
.mini-page em{ float:left; padding:0 2px 0 0; color:#999;}
.mini-page .prev,.mini-page .next,.mini-page .no-prev,.mini-page .no-next{ float:left; margin:0 0 0 6px; width:19px; height:19px; text-indent:-9999em; overflow:hidden; border:1px solid #dbdbdb; background-color:#fff;}
.mini-page .prev,.mini-page .no-prev{ background:url(../img/zolcom_list_ico.png)no-repeat 0 -50px;}
.mini-page .next,.mini-page .no-next{ background:url(../img/zolcom_list_ico.png)no-repeat 0 -70px;}
.mini-page .prev:hover,.mini-page .next:hover{ border:1px solid #f33;}
.mini-page .no-prev,.mini-page .no-next{ background-color:#f7f7f7;}






/*======================================goodlist========================================*/
.goods-list{height:1686px;}
.goods-list li{ position:relative; zoom:1; float:left; margin:20px 0 0; padding:20px 20px 10px; width:196px; height:376px;border: 2px solid #fff}
.goods-list li:hover{border: 2px solid #ededed}
.goods-list li:hover .shop-infor{overflow:visible;}
.goods-list li:hover .care{display: block;}
.goods-list .pic{ width:200px; height:200px; text-align:center; display: table-cell; vertical-align:middle; *display:block; *font-size:175px; *font-family:Arial;}
.goods-list .attention{ display:none; position:absolute; right:10px; top:196px; width:57px; height:24px; font:12px/24px arial; text-align:center; color:#fff; background:rgba(0,0,0,0.3); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4d000000,endcolorstr=#4d000000,gradientType=1);}
.goods-list .title{ padding:16px 0 0; height:40px; overflow:hidden; font:12px/20px "微软雅黑","\5FAE\8F6F\96C5\9ED1";width:200px;border: 0;}
.goods-list .title a{ color:#333;/*width:200px;height: 40px;overflow: hidden;*/display: inline-block;}
.goods-list .title a:hover{ color:#c00;text-decoration: underline;}
.price-bar{ width: 200px;height: 32px;}
.price-bar .price{ float:left; font:18px/32px Verdana; color:#f33;}
.goods-list .volume{ font:12px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#999;}
.goods-list .volume .evaluation{ float: right;}
.goods-list .volume em{ color:#666;}
.goods-list .shop-infor{width:200px; height:20px; overflow:hidden;}
.goods-list .shop-infor p{ font:12px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.goods-list .shop-infor p a{ font-family:SimSun;}
.goods-list .shop-infor .shop-name a{ color:#666; font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.goods-list .shop-name a:hover{ color:#c00;}
.goods-list .total-volume{ color:#999;}
.goods-list .total-volume em{ color:#666;}
.goods-list .more a{color: #134ba0;text-decoration: none;font: 12px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.goods-list .more a:hover{color: #c00}

.goods-list .care{display: none;position: absolute;right: 10px;top: 196px;width: 57px;height: 24px;font: 12px/24px arial;text-align: center;color: #fff;background: rgba(0,0,0,0.3);}
.goods-list .care span{  display:block; margin:0 0 0 5px; padding:0 0 0 18px; background:url(../img/zolcom_list_ico.png)no-repeat -7px -135px; font-weight:normal; text-align:left; cursor: pointer;}

/*.goods-list .hover{ margin:20px 0 30px; height:318px; padding:19px 19px 10px; border:1px solid #e6e6e6; border-bottom:0 none; -wekit-box-shadow:0 0 5px rgba(0,0,0,0.1); box-shadow:0 0 5px rgba(0,0,0,0.1);}
.goods-list .hover .attention{ top:195px; right:9px;}
.goods-list .hover .shop-infor{ top:339px; left:-1px; padding:0 19px 0; height:70px; border:1px solid #e6e6e6; border-top:0 none; background:#fff; -wekit-box-shadow:0 3px 5px rgba(0,0,0,0.1); box-shadow:0 3px 5px rgba(0,0,0,0.1);}
.goods-list .hover .shop-infor .brand-marketing{ right:19px;}
.goods-list .hover .shop-infor p{ position:relative; z-index:1;}
.goods-list .hover  .attention{ display:block;}*/


/*分页*/
.page{ margin:0 -2px 0 0; padding:50px 0 30px; text-align:center; font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.page a,.page span{ display:inline-block; margin:0 2px; padding:0 12px; height:32px; vertical-align:middle; white-space:nowrap; text-align:center; font-size:14px; line-height:32px; color:#333; font-family:arial; background:#fff; border:1px solid #e6e6e6;}
.page a:hover{ text-decoration:none; border:1px solid #c00; color:#333;}
.page .current{ background:#c00; color:#fff; border:1px solid #c00;}
.page .prev,.page .no-prev{ padding:0 12px 0 25px; background:url(../img/zolcom_list_ico.png)no-repeat  0 -160px;}
.page .next,.page .no-next{ padding:0 25px 0 12px; background:url(../img/zolcom_list_ico.png)no-repeat 100% -184px;}
.page .no-prev{ background-position:0 -208px; color:#b3b3b3;}
.page .no-next{ background-position:100% -232px; color:#b3b3b3;}



/*=============================footer_ad=================================*/
#footer_ad{height: 369px;}
.hd{    padding: 20px 0;}
.title{    position: relative;zoom: 1;margin: 0 auto; width: 274px;border-bottom: 1px solid #e6e6e6;}
.title span{ position:absolute; top:-20px; left:50%; margin:0 0 0 -87px; padding:0 15px; background:#fff; font:18px/40px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#666;}
.ads{ padding:8px 0 0; width:1220px;height: 214px;}
.ads li{ float:left; margin:0 20px 0 0; width:285px; height:214px;}
.ads li img{ display:block;width: 285px;height: 214px;}

.search_footer{padding:50px 0 20px;}
.search_footer .search_box{position: relative;width: 536px; height: 32px; border: 2px solid #c40000; margin:  0 auto;}
                
.search_text{ padding:6px 10px; width:427px; height:20px; font:14px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#666; border:0 none; outline: 0 none;}
.search_btn{ position:absolute; top:0; right:0; width:89px; height:32px; font:16px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#fff; border:0 none; background:#c40000; cursor:pointer;outline: 0 none;}













